<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Einstein - Knowledge by IT</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <base href="~/" />

  <environment exclude="Development">
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
  </environment>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
