{
  "presets": [
      "@vue/app"
  ],
  "plugins": [
    "dynamic-import-node",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      }
    }]
  ],
  "comments": false
}
